

body {
    background: url(../img/capa.png), 
                url(../img/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
}

/* Barra de nacegação */

nav.navbar-transparente {
    padding: 15px 0px;
    background: rgba(0,0,0,.6);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(255,255,255,.5);
}

.divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}